:root {
  --m-popup-background-color: #ffffff;
  --m-popup-header-color: #000000;
  --m-popup-header-font-size: 18px;
  --m-popup-header-font-weight: 500;
  --m-popup-header-padding-top: 20px;
  --m-popup-header-padding-bottom: 16px;
  --m-popup-content-min-height: 168px;
  --m-popup-content-max-height: 285px;
  --m-popup-content-padding: 0 16px;
  --m-popup-footer-padding: 16px;
  --m-popup-footer-btn-radius: 21px;
  --m-popup-footer-btn-border: 1px solid #9b9b9b;
  --m-popup-footer-btn-font-size: 16px;
  --m-popup-footer-btn-font-weight: 500;
  --m-popup-footer-btn-line-height: 22px;
  --m-popup-footer-btn-color: #999999;
  --m-popup-footer-btn-padding: 10px 65px;
  --m-popup-footer-btn-height: 42px;
  --m-popup-footer-btn-confirm-background: #2f54eb;
  --m-popup-footer-btn-confirm-color: #ffffff;
}

.m-popup {
  position: relative;
  background-color: var(--m-popup-background-color);

  &-header {
    font-weight: var(--m-popup-header-font-weight);
    font-size: var(--m-popup-header-font-size);
    color: var(--m-popup-header-color);
    line-height: var(--m-popup-header-font-size);
    padding-top: var(--m-popup-header-padding-top);
    padding-bottom: var(--m-popup-header-padding-bottom);
    display: flex;
    justify-content: center;
  }

  &-content {
    position: relative;
    min-height: 168px;
    max-height: 285px;
    overflow-y: auto;
    padding: 0 16px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    padding: var(--m-popup-footer-padding);

    .btn {
      border-radius: var(--m-popup-footer-btn-radius);
      border: var(--m-popup-footer-btn-border);
      font-weight: var(--m-popup-footer-btn-font-weight);
      font-size: var(--m-popup-footer-btn-font-size);
      color: var(--m-popup-footer-btn-color);
      line-height: var(--m-popup-footer-btn-line-height);
      text-align: left;
      font-style: normal;
      padding: var(--m-popup-footer-btn-padding);
      box-sizing: border-box;
      height: var(--m-popup-footer-btn-height);
    }
    .confirm {
      background: var(--m-popup-footer-btn-confirm-background);
      color: var(--m-popup-footer-btn-confirm-color);
    }
  }
}
