.m-setps {
  display: flex;
  &--vertical {
    flex-direction: column;
  }
  &--horizontal {
    flex-direction: row;
    flex: 1;
  }
}
.m-setps-item {
  flex: 1;
  display: flex;

  &--horizontal {
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  &--vertical {
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 5px;
  }
}
.m-setps-item--line {
  position: absolute;
  background: #969799;

  &--horizontal {
    top: 10px;
    height: 1px;
  }
  &--vertical {
    width: 1px;
    left: 10px;
  }
}
.m-setps-item--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;

  &--horizontal {
    width: 32px;
    height: 20px;
  }
  &--vertical {
    width: 20px;
    height: 32px;
  }
}

.m-setps-item--wrapper__circle {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 100px;
  border-width: 1px;
  border-color: #969799;
  border-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: background-color .3s;

  &__text {
    color: #969799;
    font-size: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 11px;

    &.isActive {
      color: #fff;
    }
  }
}

.m-setps-item--value {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  color: #969799;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  margin-top: 6px;

  &--vertical {
    margin-left: 6px;
  }
}