:root { 
  --m-list-card-background-color: #fff;
  --m-list-card-margin-bottom: 16px;
  --m-list-card-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.08);
  --m-list-card-border-radius: 10px;
  --m-list-card-padding-right: 20px;
  --m-list-card-left-padding-right: 8px;
  --m-list-card-left-padding-left: 12px;
  --m-list-card-left-padding-top: 20px;
  --m-list-card-header-title-color: var(--van-gray-8);
  --m-list-card-header-label-color: var(--van-gray-7);
  --m-list-card-header-title-font-size: 16px;
  --m-list-card-header-title-font-weight: 600;
  --m-list-card-header-icon-label-font-size: 12px;
}

.m-list--card {
  position: relative;
  background: var(--m-list-card-background-color);
  border-radius: var(--m-list-card-border-radius);
  box-shadow: var(--m-list-card-box-shadow);
  margin-bottom: var(--m-list-card-margin-bottom);
  display: flex;
  flex-wrap: nowrap;

  &__left {
    display: flex;
    padding-right: var(--m-list-card-left-padding-right);
    padding-left: var(--m-list-card-left-padding-left);
    padding-top: var(--m-list-card-left-padding-top);

    // &:first-child {
    //   max-width: 18px;
    // }
  }
  &__box {
    flex: 1;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
  }

  &__header {
    display: flex;
    height: 38px;
    margin-top: 20px;
    margin-bottom: 8px;
    .header-icon {
      padding-right: var(--m-list-card-padding-right);
      color: var(--m-list-card-header-title-color);
      label {
        font-size: var(--m-list-card-header-icon-label-font-size);
        margin-left: 4px;
      }
    }
    .header-title {
      font-size: var(--m-list-card-header-title-font-size);
      font-weight: var(--m-list-card-header-title-font-weight);
      line-height: 1;
      color: var(--m-list-card-header-title-color);
    }
    .header-label {
      margin-top: 8px;
      font-size: 14px;
      line-height: 1;
      color: var(--m-list-card-header-label-color);
    }
    .left {
      flex: 1;
      overflow: hidden;
    }
  }

  &__content {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 14px;
    padding-right: var(--m-list-card-padding-right);
  }

  &__toolbar {
    position: relative;
    height: 50px;
    font-size: 14px;
    line-height: 1;
    color: var(--m-list-card-header-label-color);
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding-right: var(--m-list-card-padding-right);
    &::after {
      position: absolute;
      box-sizing: border-box;
      content: " ";
      pointer-events: none;
      right: 0;
      top: 0;
      left: 0;
      border-bottom: 1px solid #F3F3F3;
    }
    .toolbar-left {
      flex: 1;
      overflow: hidden;
      // font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
      .van-icon {
        font-size: 16px;
      }
      // &__span {
      //   font-size: 14px;
      // }
    }
  }
  &__header, &__toolbar {
    .right {
      width: 80px;
      text-align: right;
    }
  }
}
