.m-list--card {
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.08);
  margin-bottom: 16px;
  display: flex;
  flex-wrap: nowrap;

  &__left {
    display: flex;
    padding-right: 8px;
    padding-left: 12px;
    padding-top: 20px;

    // &:first-child {
    //   max-width: 18px;
    // }
  }
  &__box {
    flex: 1;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
  }

  &__header {
    display: flex;
    height: 38px;
    margin-top: 20px;
    margin-bottom: 8px;
    .header-icon {
      padding-right: 20px;
      color: #4A4A4A;
      label {
        font-size: 12px;
        margin-left: 4px;
      }
    }
    .header-title {
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      color: #4A4A4A;
    }
    .header-label {
      margin-top: 8px;
      font-size: 14px;
      line-height: 1;
      color: #9B9B9B;
    }
    .left {
      flex: 1;
      overflow: hidden;
    }
  }

  &__content {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 14px;
    padding-right: 20px;
  }

  &__toolbar {
    position: relative;
    height: 50px;
    font-size: 14px;
    line-height: 1;
    color: #9B9B9B;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding-right: 20px;
    &::after {
      position: absolute;
      box-sizing: border-box;
      content: " ";
      pointer-events: none;
      right: 0;
      top: 0;
      left: 0;
      border-bottom: 1px solid #F3F3F3;
    }
    .toolbar-left {
      flex: 1;
      overflow: hidden;
      // font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
      .van-icon {
        font-size: 16px;
      }
      // &__span {
      //   font-size: 14px;
      // }
    }
  }
  &__header, &__toolbar {
    .right {
      width: 80px;
      text-align: right;
    }
  }
}
