:root { 
  --m-list-card-background-color: #fff;
  --m-list-card-margin-bottom: 16px;
  --m-list-card-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.08);
  --m-list-card-border-radius: 10px;
  --m-list-card-padding-right: 20px;
  --m-list-card-left-padding-right: 8px;
  --m-list-card-left-padding-left: 12px;
  --m-list-card-left-padding-top: 20px;
  --m-list-card-header-title-color: var(--van-gray-8);
  --m-list-card-header-label-color: var(--van-gray-7);
  --m-list-card-header-title-font-size: 16px;
  --m-list-card-header-title-font-weight: 600;
  --m-list-card-header-title-line-height: 18px;
  --m-list-card-label-font-size: 14px;
  --m-list-card-label-line-height: 16px;
  --m-list-card-content-font-size: 14px;
  --m-list-card-right-weight: 80px;
}

.m-list--card {
  position: relative;
  background: var(--m-list-card-background-color);
  border-radius: var(--m-list-card-border-radius);
  box-shadow: var(--m-list-card-box-shadow);
  margin-bottom: var(--m-list-card-margin-bottom);
  display: flex;
  flex-wrap: nowrap;

  &.show-toobar__line::after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: 0;
    left: 0;
    bottom: 54px;
    border-bottom: 1px solid #F3F3F3;
  }

  &__left {
    display: flex;
    padding-right: var(--m-list-card-left-padding-right);
    padding-left: var(--m-list-card-left-padding-left);
    padding-top: var(--m-list-card-left-padding-top);

    // &:first-child {
    //   max-width: 18px;
    // }
  }
  &__box {
    flex: 1;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
  }

  &__header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 8px;
    padding-right: var(--m-list-card-padding-right);
    .header-icon {
      color: var(--m-list-card-header-title-color);
      display: inline-flex;
      .label {
        font-size: var(--m-list-card-label-font-size);
        line-height: var(--m-list-card-label-line-height);
        margin-left: 6px;
      }
    }
    .header-title {
      font-size: var(--m-list-card-header-title-font-size);
      font-weight: var(--m-list-card-header-title-font-weight);
      line-height: var(--m-list-card-header-title-line-height);
      color: var(--m-list-card-header-title-color);
    }
    .header-label {
      margin-top: 8px;
      font-size: var(--m-list-card-label-font-size);
      line-height: var(--m-list-card-label-line-height);
      color: var(--m-list-card-header-label-color);
    }
    .left {
      flex: 1;
      overflow: hidden;
    }
  }

  &__content {
    margin-top: 4px;
    margin-bottom: 16px;
    font-size: var(--m-list-card-content-font-size);
    padding-right: var(--m-list-card-padding-right);
    &.hide-toobar {
      margin-bottom: 20px;
    }
  }

  &__toolbar {
    position: relative;
    height: 50px;
    font-size: var(--m-list-card-label-font-size);
    line-height: var(--m-list-card-label-line-height);
    color: var(--m-list-card-header-label-color);
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding-right: var(--m-list-card-padding-right);
    .toolbar-left {
      flex: 1;
      overflow: hidden;
      display: flex;
      align-items: center;
      .van-icon {
        font-size: 16px;
      }
    }
  }
  &__header, &__toolbar {
    .right {
      width: var(--m-list-card-right-weight);
      display: inline-flex;
      justify-content: flex-end;
    }
  }
}
