.m-address {
  .van-search__action {
    color: var(--van-primary-color);
  }
  .gray-divider {
    height: 10px;
    background: #F6F7FA;
  }
  &-breadcrumb {
    padding: 12px;
    min-height: 20px;
    background-color: #FEFFFF;

    &__title {
      color: var(--van-nav-bar-text-color);
      cursor: pointer;
      i {
        padding: 0 4px;
        color: #999;
      }
    }
    &__label {
      color: #999;
    }
  }
  &-list, &-select-list {
    padding: 10px;
    padding-top: 5px;
    background-color: #FEFFFF;
  }
  &-cell {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    height: 30px;
    .label {
      display: flex;
      align-items: center;
    }
    .right {
      flex-grow: 1;
      text-align: right;
      display: inline-flex;
      justify-content: flex-end;
    }
    img {
      width: 25px;
      height: 25px;
    }
    img,span {
      margin-left: 8px;
    }
    .checked {
      background-color: #F29103;
      border-color: #F29103;
    }
    .remove {
      background-color: #bebebe;
      border-color: #bebebe;
    }
    .van-checkbox {
      margin-left: 8px;
    }
  }
  &-action-bar {
    height: 50px;
    &__fixed {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: content-box;
      height: 50px;
      padding-left: 15px;
      padding-right: 15px;
      background: #fff;
    }
    &__select {
      min-width: 138px;
      flex: 1;
    }
    &__btn {
      height: 38px;
      flex: 1;
    }
  }
}