:root {
  --m-setps-item-title-active-color: #000;
}
.m-setps {
  display: flex;
  &--vertical {
    flex-direction: column;
  }
  &--horizontal {
    flex-direction: row;
    flex: 1;

    // 粗线条样式
    &.thickline {
      .m-setps-item--line--horizontal {
        top: 5px;
        height: 10px;
      }
      :first-child { 
        .m-setps-item--line--horizontal {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
      }
      :last-child {
        .m-setps-item--line--horizontal {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }
      .isActive {
        .m-setps-item--line--horizontal {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }
      .m-setps-item--line {
        background: #EFF3FE;
      }
      .m-setps-item--wrapper__circle {
        width: 28px;
        height: 28px;
        background: #FFFFFF;
        border: 3px solid #DEE0E4;
      }
      .m-setps-item--wrapper__circle__text { 
        font-weight: 500;
        font-size: 16px;
        color: #999999;
        text-align: left;
      }
      .m-setps-item--value {
        margin-top: 12px;
      }
      .m-setps-item--horizontal {
        &:first-child {
          align-items: flex-start;
          padding-left: 16px;
        }
        &:last-child {
          align-items: flex-end;
          padding-right: 16px;
        }
      }
    }
  }
}
.m-setps-item {
  flex: 1;
  display: flex;

  &--horizontal {
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  &--vertical {
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 5px;
  }
}
.m-setps-item--line {
  position: absolute;
  background: #969799;

  &--horizontal {
    top: 10px;
    height: 1px;
  }
  &--vertical {
    width: 1px;
    left: 10px;
    top: 10px;
  }
}
.m-setps-item--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  // background-color: #fff;

  &--horizontal {
    width: 32px;
    height: 20px;
  }
  &--vertical {
    width: 20px;
    height: 32px;
  }
}

.m-setps-item--wrapper__circle {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 100px;
  border-width: 1px;
  border-color: #969799;
  border-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: background-color .3s;

  &__text {
    color: #969799;
    font-size: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    &.isActive {
      color: #fff;
    }
  }
}

.m-setps-item--value {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  color: #969799;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  margin-top: 6px;

  &--vertical {
    margin-left: 6px;
  }
}